@import url("https://fonts.googleapis.com/css2?family=Abel&family=Cormorant+Garamond:wght@300&family=Cormorant+SC:wght@300&family=Cormorant+Upright:wght@300&family=Indie+Flower&family=Montserrat:wght@200&display=swap");
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/6039467.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

* {
  font-family: "Montserrat", sans-serif; }

main {
  display: flex;
  justify-content: space-evenly; }
  main .list-box {
    width: 40%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center; }
    main .list-box .list-container {
      width: 400px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      border-radius: 5px;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center; }
      main .list-box .list-container h2 {
        text-align: center; }
      main .list-box .list-container .input-box {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center; }
        main .list-box .list-container .input-box input {
          margin: 0;
          border: none;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          border-radius: 0;
          width: 60%;
          padding: 10px; }
        main .list-box .list-container .input-box button {
          width: 50px;
          cursor: pointer;
          border: white 1px solid; }
          main .list-box .list-container .input-box button:hover {
            background-color: lightgrey; }
      main .list-box .list-container ul {
        width: 80%;
        padding: 0; }
        main .list-box .list-container ul li {
          cursor: pointer;
          list-style: none; }
          main .list-box .list-container ul li:checked {
            background: #888;
            color: #fff;
            text-decoration: line-through; }
          main .list-box .list-container ul li:hover {
            background-color: #c7c9c975;
            transition: 0.3s; }
          main .list-box .list-container ul li:nth-child(odd) {
            background-color: rgba(211, 211, 211, 0.219); }
            main .list-box .list-container ul li:nth-child(odd):hover {
              background-color: #c7c9c975; }

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(235, 237, 238, 0.637);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; }
