@import url("https://fonts.googleapis.com/css2?family=Abel&family=Cormorant+Garamond:wght@300&family=Cormorant+SC:wght@300&family=Cormorant+Upright:wght@300&family=Indie+Flower&family=Montserrat:wght@200&display=swap");

$primary-font: "Montserrat", sans-serif;
$secondary-font: "Indie Flower", cursive;

* {
  font-family: $primary-font;
}
