main {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  @include tablets {
    width: 80%;
  }
  @include desktop {
    width: 60%;
  }

  .list-box {
    width: 40%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    .list-container {
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      border-radius: 5px;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        text-align: center;
      }
      .input-box {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        input {
          margin: 0;
          border: none;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
            rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          border-radius: 0;
          width: 60%;
          padding: 10px;
        }
        button {
          width: 50px;
          cursor: pointer;
          border: white 1px solid;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
            rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

          &:hover {
            background-color: lightgrey;
          }
        }
      }
      ul {
        width: 80%;
        padding: 0;
        li {
          cursor: pointer;
          list-style: none;

          &:checked {
            background: #888;
            color: #fff;
            text-decoration: line-through;
          }

          &:hover {
            background-color: #c7c9c975;
            transition: 0.3s;
          }
          &:nth-child(odd) {
            background-color: rgba(211, 211, 211, 0.219);
            &:hover {
              background-color: #c7c9c975;
            }
          }
        }
      }
    }
  }
}
