main {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  @include tablets {
    width: 80%;
  }
  @include desktop {
    width: 60%;
  }

  .list-box {
    width: 40%;
    margin: 40px;

    .list-container {
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      border-radius: 5px;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        text-align: center;
      }

      .input-box {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        input {
          margin: 0;
          border: none;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
            rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          border-radius: 0;
          width: 60%;
          padding: 10px;
          text-transform: capitalize;
        }
      }

      ul {
        width: 80%;
        padding: 0;
        li {
          margin: 1px;
          cursor: pointer;
          list-style: none;
          font-size: 1.1rem;
          word-wrap: break-word;
          text-transform: capitalize;

          &:hover {
            background-color: lightgray;
            transition: 0.3s;
          }
          &:nth-child(odd) {
            background-color: rgba(211, 211, 211, 0.219);
            &:hover {
              background-color: #c7c9c975;
            }
          }
        }
      }

      .buttons {
        width: 50px;
        cursor: pointer;
        border: white 1px solid;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

        &:hover {
          background-color: lightgrey;
          transition: 0.3s;
        }
      }

      .secondary-buttons {
        background-color: rgba(182, 230, 241, 0.342);
        width: 80px;
        margin-bottom: 5px;

        &:hover {
          background-color: rgba(95, 158, 160, 0.24);
        }
      }

      #finishedtask {
        .li-container {
          display: flex;
          justify-content: space-between;
          align-items: center;

          li {
            width: 90%;
          }

          .close-button {
            cursor: pointer;
            text-align: center;
            width: 10%;
            background-color: #ecb2b23b;

            &:hover {
              background-color: rgba(107, 52, 52, 0.233);
            }
          }
        }
      }
    }
  }
}
